@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body {
    background-color: antiquewhite;
}

.thematicStyling {
    border-radius: 10px;
    border-width: 5px;
    border-style: groove;
    border-color: rgb(255, 190, 104);
    background-color: blanchedalmond;
    margin: 2px;
}

.centerText {
    text-align: center;
}

.autoSizeFont {
    font-size: 2.6vw;
}

img {
    border-radius: 4px;
    border-color: burlywood;
    border-radius: 5px;
    border-style: double;
}

.homeImages {
    width:90vw;
    height:90vw;
}

.projectImages {
    width:40vw;
    height:40vw;
}

header > nav {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 1;
    justify-content: center;
}

header > nav > a {
    border-style:inset;
    border-radius: 5px;
    border-width: 4px;
    border-color:burlywood;
    border-spacing: 10px;
    font-family: 'Courier Prime', monospace;
    justify-self: center;
    margin: 3px;
    text-align: center;
    text-decoration: none;
    width: 20vw;
}

header > nav > a:hover {
    border-style: outset;
    text-decoration: underline;
}

#homeContainer {
    display: grid;
    grid-template-columns: 1 auto;
    grid-template-rows: repeat(4, auto);
    justify-content: space-around;
}

#homeBottomParagraph {
    font-size: larger;
    text-align: center;
}

#hobbiesContainer {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    justify-content:center;
}

#projectsContainer {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: auto auto auto;
    justify-content:center;
}

.projectParagraphs {
    border-radius: 10px;
    border-width: 5px;
    border-style: double;
    border-color: rgb(255, 208, 147);
    background-color: blanchedalmond;
}

#projectElementsContainer {
    display: grid;
    margin: 0px 10px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    justify-content:right;
}

.contactsContainer {
    display: grid;
    grid-template-columns: 1 auto;
    grid-template-rows: repeat(2, auto);
    text-align: center;
    justify-content: center;
}

table {
    margin-bottom: 20px;
    border-collapse: collapse;
}

tr { 
    text-align: center;
}

td {
    border-collapse: collapse;
    border-radius: 5px;
    border-color: burlywood;
    border-style: solid;
    font-size: 2.2vw;
}

td:hover {
    background-color: rgb(234, 207, 167);
}

.callingAvailable {
    background-color: rgb(134, 232, 123);
}

.callingNotAvailable {
    background-color: rgb(250, 85, 85);
}

footer {
    text-align: center;
    margin-top: 2px;
    width: auto;
}

@media screen and ( min-width : 800px ) {

    body {
        overflow-y: scroll;
    }

    .autoSizeFont {
        font-size: 20.8px;
    }

    header > nav > a {
        width: 160px;
    }

    td {
        border-collapse: collapse;
        border-radius: 5px;
        border-color: burlywood;
        border-style: solid;
        font-size: 17.6px;
    }

    #homeContainer {
        padding: 1px 1vw;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        justify-content: center;
    }

    .images, .projectImages {
        width:320px;
        height:320px;
    }
}